body * {
    border: 1px solid red;
}
body > * {
    border: 1px solid black;
}

body{
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px 1fr;
    gap: 5px;

    margin: 10px;
    padding: 10px;
}

#main-navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

#book-new-form > * {
    margin: 5px;
}

#content-main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: row;
    width: 100%;
}

#content-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

#content-main > ul {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1px 0px 1px 0px;
}

.project-card {
    background-color: rgb(255, 252, 248);
    padding: 10px;
    border: 1px solid #172121;
    box-shadow: 1px 1px 1px #444554;
    border-radius: 5px;
    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.project-card-heading {
    display: flex;
    justify-content: space-between;
}

.project-card-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-nav {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.todo-list-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px 0px 2px 0px;
}

.todo-item-card {
    background-color: rgb(255, 252, 248);
    padding: 10px;
    border: 1px solid #172121;
    box-shadow: 1px 1px 1px #444554;
    border-radius: 5px;

    font-size: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.todo-heading {
    display: flex;
    align-items: center;
    gap: 5px;
}

.todo-nav {
    border: 1px solid blue;
    display: flex;
    gap: 5px;
}

.todo-form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.book-info-container {

    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 10px;
    border-radius: 10px;
}

.project-title-p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.project-description-p {
    font-style: italic;
    margin-bottom: 10px;
}

#book-pages-p {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#book-read-p {
    font-size: 0.8rem;
}

.book-button-container {
    
    grid-column: 1 / -1;
    grid-row: 2 / -1;
}

.book-button-container > * {
    max-width: max-content;
    margin: 5px;
}

.required {
    color: rgb(173, 21, 21);
    font-size: 0.8rem;
    font-weight: bold;
}
