:root{
    --border-radius-small: 5px;
    --border-radius-big: 10px;

    --bg-main-color: rgb(233, 255, 251);
    --bg-main-box-shadow: 0px 1px 5px 1px rgb(96, 109, 106);
    --bg-main-border: 1px solid rgb(216, 235, 231);

    --bg-project-item: rgb(180, 226, 217);
    --bg-project-box-shadow: 0px 1px 1px 0px rgb(96, 109, 106);
    --bg-project-border: 1px solid rgb(56, 123, 126);

    --bg-todo-card: rgb(190, 226, 227);
    --bg-todo-box-shadow:0px 1px 1px 0px rgb(179, 179, 179);
    --bg-todo-border: 1px solid rgb(56, 123, 126);
}

.main-style {
    background-color: var(--bg-main-color);
    border: var(--bg-main-border);
    border-radius: var(--border-radius-big);
    box-shadow: var(--bg-main-box-shadow);
    overflow: hidden;
}

body{
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: minmax(50px, max-content) 1fr 50px;
    gap: 5px;

    margin: 10px;
    padding: 10px;
}

#main-navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 10px;
    border: var(--bg-main-border);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#navbar-buttons {
    display: flex;
    flex-direction: row;

    gap: 5px;
    padding: 2px;
}

#new-forms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 25px;
}

#form-new-project, #form-new-todo {
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-new-project-title, #form-new-project-desc{
    display: flex;
    flex-direction: column;
}

#form-new-project-btn, #form-new-todo-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#form-new-project-btn > button, input {
    flex-grow: 1;
    flex-basis: 1;
}
#form-new-todo-btn > button, input {
    flex-grow: 1;
    flex-basis: 1;
}

#form-new-todo-title, #form-new-todo-desc, #form-new-todo-duedate, #form-new-todo-projectselect {
    display: flex;
    flex-direction: column;
}

#content-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -2;

    display: flex;
    flex-direction: column;
}

#content-sidebar > ul {
    padding: 5px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

#content-sidebar > ul > li {
    overflow: hidden;
    border-radius: var(--border-radius-small);
}

#content-sidebar > ul > li > button {
    width: 100%;
    background: var(--bg-project-item);
}

#content-sidebar > ul > li > button:hover {
    background-color: var(--bg-main-color);
}

#content-main {
    grid-column: 2 / -1;
    grid-row: 2 / -2;
}

#content-main > ul {
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-card {
    padding: 5px;
    background: var(--bg-project-item);
    border: var(--bg-project-border);
    box-shadow: var(--bg-project-box-shadow);
    border-radius: var(--border-radius-big);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-card-heading {
    display: flex;
    gap: 5px;
}

.project-card-heading > button{
    flex: 0, 1, 2ch; /*grow,shrink,basis*/
    padding: 0;
    background: var(--bg-project-item);
    border: none;
}

.project-card-heading > button > img:hover {
    filter: brightness(0) saturate(100%) invert(84%) sepia(77%) saturate(7324%) hue-rotate(172deg) brightness(117%) contrast(111%);
}

.project-card-heading > h1{
    flex-grow: 0;
    flex-basis: content;

    align-self: center;
}

.project-card-heading > p{
    flex-grow: 4;

    align-self: center;
}

.project-card-heading > .project-nav{
    flex-grow: 1;
    max-width: max-content;

    display: flex;
    gap: 3px;
    padding: 2px;
}

.project-form {
    padding: 5px 10px 5px 10px;
    background-color: var(--bg-main-color);
    border-radius: var(--border-radius-big);
    border: 1px solid gray;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-div-project-title, #form-div-project-description {
    display: flex;
    flex-direction: column;
}

.todo-list-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-card {
    padding: 5px;
    border-radius: var(--border-radius-big);
    background-color: var(--bg-todo-card);
    border: var(--bg-todo-border);
    box-shadow: var(--bg-todo-box-shadow);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#todo-card-header {
    flex-grow: 10;
    flex-basis: 1;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-nav {
    flex-grow: 0;
    flex-basis: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    height: 2rem;
}

.todo-nav > button {
    background-color: var(--bg-todo-card);
    border: none;
    border: none;
}

.todo-nav > button > img {
    height: 1.2rem;
}

.btn-completed, .btn-edit-active {
    filter: invert(28%) sepia(96%) saturate(2790%) hue-rotate(92deg) brightness(88%) contrast(105%);
    /*filter: invert(100%) sepia(26%) saturate(5347%) hue-rotate(19deg) brightness(96%) contrast(101%);*/
}

.btn-edit-inactive:hover, .btn-remove:hover {
    filter: invert(14%) sepia(87%) saturate(7480%) hue-rotate(4deg) brightness(97%) contrast(121%);
}

.btn-icon {
    width: 2.5ch;
}

.todo-form {
    background-color: var(--bg-main-color);
    border-radius: var(--border-radius-big);
    border: 1px solid gray;

    flex-grow: 1;
    flex-basis: 100%;
    padding: 5px 10px 5px 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-div-todo-title, #form-div-todo-description, #form-div-todo-duedate, #form-div-todo-assignproject {
    border-radius: var(--border-radius-small);

    display: flex;
    flex-direction: column;
}

.todo-form > input {
    border-radius: var(--border-radius-small);
}

.footer {
    background-color: var(--bg-main-color);
    box-shadow: var(--bg-main-box-shadow);
    border: var(--bg-main-border);
    border-radius: var(--border-radius-big);
    grid-column: 1 / -1;
    grid-row: -2 / -1;

    height: 2rem;
    text-align: center;
    align-content: center;
}

.footer > p > a {
    text-decoration: underline;
}

.required {
    color: rgb(173, 21, 21);
    font-size: 0.8rem;
    font-weight: bold;
}
