:root{
    --border-radius-small: 5px;
    --border-radius-big: 10px;

    --bg-main-color: rgb(254, 250, 224);
    --bg-main-box-shadow: 0px 1px 1px 1px rgb(188, 108, 37);
    --bg-main-border: 1px solid rgb(188, 108, 37);
    --bg-main-hover: rgb(221, 161, 94);

    --bg-project-item: rgb(255, 255, 255);
    --bg-project-box-shadow: 0px 1px 1px 0px rgb(255, 255, 255);
    --bg-project-border: 1px solid rgb(255, 255, 255);

    --bg-todo-card: rgb(254, 250, 224);
    --bg-todo-box-shadow:0px 1px 1px 0px rgb(255, 255, 255);
    --bg-todo-border: 1px solid rgb(255, 255, 255);

    --bg-generic-input: white;

    --form-border: 1px solid rgb(255, 255, 255);

    --image-icon-height: 1.2rem;

    --filter-expand-hover: brightness(0) saturate(100%) invert(84%) sepia(77%) saturate(7324%) hue-rotate(172deg) brightness(117%) contrast(111%);
    --filter-checkmark-complete: invert(28%) sepia(96%) saturate(2790%) hue-rotate(92deg) brightness(88%) contrast(105%);
    --filter-edit-delete: invert(14%) sepia(87%) saturate(7480%) hue-rotate(4deg) brightness(97%) contrast(121%);
}

.main-style {
    background-color: var(--bg-main-color);
    border-radius: var(--border-radius-big);
    overflow: hidden;
}

body{
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: minmax(50px, max-content) 1fr 50px;
    gap: 5px;
    background-color: var(--bg-main-color);
    margin: 10px;
    padding: 10px;
}

#main-navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 10px;
    border: var(--bg-main-border);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    box-shadow: var(--bg-main-box-shadow);
}

#navbar-buttons {
    display: flex;
    flex-direction: row;

    gap: 5px;
    padding: 2px;
}

#new-forms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 25px;
    border: var(--bg-main-border);
    border-radius: var(--border-radius-big);
}

#form-new-project, #form-new-todo {
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-new-project-title, #form-new-project-desc{
    display: flex;
    flex-direction: column;
}

#form-new-project-btn, #form-new-todo-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#form-new-project-btn > button, input {
    flex-grow: 1;
    flex-basis: 1;
}
#form-new-todo-btn > button, input {
    flex-grow: 1;
    flex-basis: 1;
}

#form-new-todo-title, #form-new-todo-desc, #form-new-todo-duedate, #form-new-todo-projectselect {
    display: flex;
    flex-direction: column;
}

select {
    background-color: var(--bg-generic-input);
}

#content-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / -2;

    display: flex;
    flex-direction: column;
    border: var(--bg-main-border);
    box-shadow: var(--bg-main-box-shadow);
}

#content-sidebar > ul {
    padding: 5px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

#content-sidebar > ul > li {
    overflow: hidden;
}

#content-sidebar > ul > li > button {
    width: 100%;
}

#content-main {
    grid-column: 2 / -1;
    grid-row: 2 / -2;
}

#content-main > ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-card {
    padding: 5px;
    background-color: var(--bg-main-color);
    border: var(--bg-main-border);
    box-shadow: var(--bg-main-box-shadow);
    border-radius: var(--border-radius-big);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-card-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.project-card-heading > button{
    flex: 0, 1, 2ch; /*grow,shrink,basis*/
    padding: 0;
    border: none;
}

.project-card-heading > h1{
    flex-grow: 0;
    flex-basis: content;

    align-self: center;
}

.project-description-p{
    flex-grow: 4;
    flex-basis: 100%;

    align-self: center;
    order: 1;
    margin-left: 2rem;
    font-size: 0.75rem;
}

.project-nav{
    flex-grow: 1;
    flex-basis: max-content;

    display: flex;
    justify-content: flex-end;
    gap: 3px;
    padding: 2px;
}

.project-form {
    padding: 5px 10px 5px 10px;
    background-color: var(--bg-main-color);
    border-radius: var(--border-radius-big);
    border: var(--form-border);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-div-project-title, #form-div-project-description {
    display: flex;
    flex-direction: column;
}

.todo-list-card {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    margin: 0ch 0.5ch 1ch 2ch;
}

.todo-card {
    padding: 5px;
    border-radius: var(--border-radius-big);
    background-color: var(--bg-todo-card);
    border: var(--bg-main-border);
    box-shadow: var(--bg-main-box-shadow);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#todo-card-header {
    flex-grow: 10;
    flex-basis: 1;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#todo-duedate, #todo-description {
    font-size: 0.75rem;
}

.todo-nav {
    flex-grow: 0;
    flex-basis: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    height: 2rem;
}

.todo-nav > button {
    background-color: var(--bg-todo-card);
    border: none;
}

.todo-nav > button > img {
    height: var(--image-icon-height);
}

.btn-incomplete:hover, .btn-completed, .btn-edit-active {
    filter: var(--filter-checkmark-complete);
}

.btn-edit-inactive:hover, .btn-remove:hover {
    filter: var(--filter-edit-delete);
}

.btn-icon {
    width: 2.5ch;
}

.todo-form {
    background-color: var(--bg-main-color);
    border-radius: var(--border-radius-big);
    border: var(--form-border);

    flex-grow: 1;
    flex-basis: 100%;
    padding: 5px 10px 5px 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-div-todo-title, #form-div-todo-description, #form-div-todo-duedate, #form-div-todo-assignproject {
    border-radius: var(--border-radius-small);

    display: flex;
    flex-direction: column;
}

.todo-form > input {
    border-radius: var(--border-radius-small);
}

#footer-main {
    background-color: var(--bg-main-color);
    border: var(--bg-main-border);
    border-radius: var(--border-radius-big);
    grid-column: 1 / -1;
    grid-row: -2 / -1;

    height: 2rem;
    text-align: center;
    align-content: center;
}

#footer-main {
    font-size: 0.75rem;
    box-shadow: var(--bg-main-box-shadow);
}

#footer-main > p > a {
    text-decoration: underline;
}

#todo-duedate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

#todo-duedate > img {
    height: 1rem;
}

.highlight-duetoday {
    filter: brightness(0) saturate(100%) invert(42%) sepia(91%) saturate(1276%) hue-rotate(2deg) brightness(106%) contrast(103%);
}

.highlight-overdue {
    filter: brightness(0) saturate(100%) invert(22%) sepia(75%) saturate(3851%) hue-rotate(345deg) brightness(86%) contrast(105%);
}

.btn-generic-style {
    background-color: var(--bg-main-color);
    border: var(--bg-main-border);
    border-radius: var(--border-radius-small);
}

.btn-generic-style:hover {
    background-color: var(--bg-main-hover);
}

.required {
    color: rgb(173, 21, 21);
    font-size: 0.8rem;
    font-weight: bold;
}
